{% load staticfiles %}
  <html>
        <head>
         <title>Deadagent</title>
   <style>
   .colortext {
     color: #FCA205;
  </style> 
         <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
         <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic" rel="stylesheet" type="text/css">
         <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
         <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
         <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        </head>
        <div class="top-menu">
        <nav><a href="1.html">Контакты</a> | <a href="2.html">О нас</a> |
       <a href="3.html">Разместить объявление</a></nav> 
       </div>
        <body>       
           <div class="page-header">
             <h1><a href="/">Dead<span class="colortext">agent</span></a></h1>
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
        </body>
 </html>
