 {% extends 'blog/base.html' %}
  {% block content %}
        <body>
            <div>
                <h2>Описание проекта</h2>
                <p>Агрегатор информации о недвижимости, которую размещают в сети без посредников.</p>
            </div>
            <div>
                <h2>Миссия проекта</h2>
                <p>Максимально сократить участие агентов-посредников в алгоритме размещения объявлений о здаче жилой площади в аренду от собственников.  <br />Как планируем выполнить миссию - данные на площадку deadagent.io будут размещаться бесплатно для конечного пользователя.</p>
            </div>

             <div>
                <h2>Принцип работы</h2>
                <p>Сбор информации посредством скрипта с таких источников как: соцсети, тематические площадки, форумы, площадки для размещения объявлений.</p>
            </div>
             <div>
                <h2>Формат площадки</h2>
                <p>Единая лента с объявлениями (блог). Пользовательский функционал версии 0.1 Alpha: <br /> 1.Фильтр поиска объявлений в базе; <br /> 2.Возможность для пользователя отметить объявление, если его разместил агент, для последующей проверки модератором.</p>
            </div>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
                {% for post in posts %}
                    <div class="post">
                        <div class="date">
                            {{ post.published_date }}
                        </div>
                        <h3><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h3>
                        <p>{{ post.text|linebreaksbr }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
        </body>
{% endblock content %}

